<!--suppress CssUnusedSymbol -->
<style>
    body, h1, h2, h3, p, ul, li {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    main {
        margin: 2% 25%;
        padding: 2%;
        background-color: #05ffd9;
        word-wrap: break-word;
        border: 1rem ridge #333333;
        border-radius: 10%;
    }

    li {
        list-style-type: none;
    }

    div {
        margin-bottom: 1%;
    }

    header {
        background-color: #333333;
        color: #ffffff;
        padding: 1%;
    }

    nav {
        display: flex;
        flex-direction: row;
    }

    nav ul {
        list-style: none;
        display: flex;
        flex-direction: row;
    }

    nav ul li {
        display: inline;
        margin-right: 5%;
    }

    nav a {
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
    }

    #swatchTime {
        margin-left: 30%;
    }

    footer {
        text-align: center;
        background-color: #333333;
        color: #ffffff;
        padding: 1%;
    }

    .copyleft {
        display: inline-block;
        transform: rotate(180deg);
    }

    .htmx-request {
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    /* THREADS */
    /* THREADS */
    /* THREADS */
    /* THREADS */
    /* THREADS */
    /* THREADS */
    /* THREADS */
    /* THREADS */
    /* THREADS */

    .board-title {
        font-size: xxx-large;
        padding-left: 5%;
    }

    .board-description {
        font-size: x-large;
        padding-left: 5%;
    }

    #new-thread-form {
        max-width: 90%;
        margin: 2% auto;
        padding: 2%;
        border-radius: 2vh;
        border: 0.5rem ridge #333333;
        background-color: #f9f9f9;
    }

    #new-thread-form h3 {
        color: #333;
        margin-bottom: 1vw;
    }

    #new-thread-form form {
        display: flex;
        flex-direction: column;
    }

    #new-thread-form label {
        margin-bottom: 0.2vw;
    }

    #new-thread-form input,
    #new-thread-form textarea {
        width: 100%;
        box-sizing: border-box;
        padding: 1vw;
        margin-bottom: 1vw;
        border: 0.1vw solid #ddd;
        border-radius: 0.4vw;
    }

    #new-thread-form button {
        background-color: #3aeebc;
        color: #fff;
        padding: 1vw;
        border: none;
        cursor: pointer;
        border-radius: 0.4vw;
    }

    #new-thread-form button:hover {
        background-color: #00fff9;
    }

    .thread {
        margin-bottom: 2%;
        padding: 1.5%;
        border-radius: 2vh;
        background-color: #fff;
        border: 0.5rem ridge #333333;
    }

    .thread-info {
        margin-bottom: 1%;
    }

    .thread-title {
        font-size: x-large;
        color: #333;
    }

    .thread-author {
        font-weight: bold;
        color: #0077cc;
    }

    .thread-date {
        color: #666;
    }

    .thread-content {
        margin-top: 1%;
        color: #444;
    }

    .replies-list {
        list-style-type: none;
        margin-top: 1.5%;
    }

    /* REPLIES */
    /* REPLIES */
    /* REPLIES */
    /* REPLIES */
    /* REPLIES */
    /* REPLIES */
    /* REPLIES */
    /* REPLIES */
    /* REPLIES */
    .reply {
        margin-top: 1.5%;
        padding: 1%;
        border: 0.5rem ridge #333333;
        border-radius: 2vh;
        background-color: #f9f9f9;
    }

    .reply:target {
        background-color: palegoldenrod;
    }

    .reply-info {
        margin-bottom: 1%;
    }

    .reply-author {
        font-weight: bold;
        color: #0077cc;
    }

    .reply-replies {
        margin-right: 1%;
    }

    .reply-date {
        color: #666;
    }

    .reply-content {
        margin-top: 1%;
        color: #444;
    }

    .reply-form-container {
        max-width: 40%;
        margin-top: 2%;
        padding: 2%;
    }

    .reply-form h3 {
        color: #333;
        margin-bottom: 1vw;
    }

    .reply-form form {
        display: flex;
        flex-direction: column;
    }

    .reply-form label {
        margin-bottom: 0.2vw;
    }

    .reply-form textarea {
        width: 100%;
        box-sizing: border-box;
        padding: 1vw;
    }

    .reply-form button {
        background-color: #3aeebc;
        color: #fff;
        padding: 1vw;
        border: none;
        cursor: pointer;
        border-radius: 0.4vw;
    }

    /* Boards */
    /* Boards */
    /* Boards */
    /* Boards */
    /* Boards */
    /* Boards */
    /* Boards */
    /* Boards */
    /* Boards */
    /* Boards */
    .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 2%;
    }

    .row {
        border-bottom: 1px solid #ddd;
    }

    .row:hover {
        background-color: #f5f5f5;
    }

    .board-link {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        display: inline-block;
        padding: 5px;
    }

    .board-link:hover {
        background-color: #ddd;
    }
</style>