{% extends "base.html" %}
{% call super() %}
{% block content %}
    <div>
        <div>
            <div>
                Hello!
            </div>
        </div>

        <div>
            <div>
                Mason Pike - Developer
            </div>

            <div id="education-content">
                <div>
                    <a>M.A. in Urbanology, spec. Contemporary Continental Philosophy</a> - University of London,
                    Institute
                    in
                    Paris (2019-2021)
                </div>
                <div>
                    <b>Advisors</b>: <a href="https://annalouisemilne.net/">Anna-Louise Milne</a>, <a
                            href="https://www.london.ac.uk/people/dr-joanne-brueton">Joanne Brueton</a>
                </div>
            </div>
            <div id="random-fact-container" hx-get="/random-fact" hx-trigger="load"></div>
        </div>


        <div>
            Hi I'm Mason. I'm a guy who is often on the computer. I find it quite enjoyable!
        </div>
        <div>
            I love to make things! Mostly with code, but sometimes with other things, like words or sounds or wires.
            I've been coding for a long time as a hobby; mostly hacking Nintendo consoles,learning algorithms, and
            making
            tools for music.
            I did my grad school research <a
                    href="https://trends.google.com/trends/explore?date=today%205-y&q=blockchain,crypto&hl=en">when
                crypto was
                at its hype peak</a> and I ended up writing a lot about contemporary philosophy and blockchain
            mathematics.
            I even got some stuff published in some smaller journals. Sometimes I still write stuff like that and post
            it
            over on <a href="/blog">the blog</a>, but I put stuff up and take it down a lot.
        </div>
        <div>
            I didn't go to engineering school like I probably should have because I was 18 and attempting to build an
            ill-fated career as a jazz musician. It was fun! Through a long series of coincidence and happenstance,
            I ended up with a philosophy scholarship to the University of London's Paris Institute and a management
            position at a local language school. That was also pretty fun! But after all that, I honestly just missed my
            computer and wanted to come back to it. And so I did!
        </div>
        <div>
            I try to stay active in the open-source Rust community when I can. I tend to focus on cartographic or
            mathematical libraries, as well as SDKs for things like game consoles and older computers. My own projects,
            while not particularly interesting, are usually either software solutions to hardware problems (like my <a
                    href="https://github.com/sqrtM/MkIIStepSequencer">Arturia
                MKII step sequencer</a>) or <a href="https://github.com/sqrtM/nesemu/tree/main">emulators</a>, so I can
            get a
            better understanding of the CPUs I like to work with.
        </div>
        <div>
            EJIZOJZOJDIOZD
        </div>
        <div>
            EJIZOJZOJDIOZD
        </div>
        <div>
            EJIZOJZOJDIOZD
        </div>
    </div>
{% endblock %}
