<li class="reply" id="{{ "reply-{}"|format(reply.id) }}">
    <div class="reply-info">
        <span class="reply-id">{{ reply.id }}</span>
        <span class="reply-author">{{ reply.author_name }}</span>
        <span class="reply-date">{{ reply.created_at|format_utc_datetime }}</span>
        {% for r in reply.child_reply_ids %}
            {% match r %}
            {% when Some with (child) %}
                <span id="child-{{ "reply-{}"|format(child) }}" class="reply-replies">
                <a href="{{ "#reply-{}"|format(child) }}" class="reply-link">&raquo;{{ child }}</a>
            </span>
            {% when None %}
            {% endmatch %}
        {% endfor %}
    </div>
    <div class="reply-content">
        {{ reply.content|replace_reply_syntax|safe }}
    </div>
</li>