<li class="reply" id="{{ "reply-{}"|format(reply.id) }}">
    <div class="reply-info">
        <span class="reply-author">{{ reply.author_name }}</span>
        {% for r in reply.parent_reply_ids %}
            {% match r %}
            {% when Some with (parent) %}
                <span id="parent-{{ "reply-{}"|format(parent) }}" class="reply-replies">
                    <a href="{{ "#reply-{}"|format(parent) }}">parent &raquo;{{ parent }}</a>
                </span>
            {% when None %}
            {% endmatch %}
        {% endfor %}

        {% for r in reply.child_reply_ids %}
            {% match r %}
            {% when Some with (child) %}
                <span id="child-{{ "reply-{}"|format(child) }}" class="reply-replies">
                    <a href="{{ "#reply-{}"|format(child) }}">child &raquo;{{ child }}</a>
                </span>
            {% when None %}
            {% endmatch %}
        {% endfor %}
        <span class="reply-date">{{ reply.created_at|truncate(19) }}</span>
    </div>
    <div class="reply-content">
        {{ reply.content }}
    </div>
</li>
