{% extends "base.html" %}
{% call super() %}
{% block content %}
<div>
    <div>
        EJIZOJZOJDIOZD
    </div>
    <div>
        EJIZOJZOJDIOZD
    </div>
    <div>
        EJIZOJZOJDIOZD
    </div>
    <div>
        EJIZOJZOJDIOZD
    </div>
    <div>
        EJIZOJZOJDIOZD
    </div>
    <div>
        EJIZOJZOJDIOZD
    </div>
    <div>
        EJIZOJZOJDIOZD
    </div>
    <div>
        EJIZOJZOJDIOZD
    </div>
    <div>
        EJIZOJZOJDIOZD
    </div>
</div>
{% endblock %}
