<li class="thread">
    <div class="thread-info">
        <span class="thread-title">
            {{ thread.title }}
        </span>
        <span class="thread-author">
                    {{ thread.author_name }}
        </span>
        <span class="thread-date">
            {{ thread.created_at|format_utc_datetime }}
        </span>
    </div>
    <div class="thread-content">
        {{ thread.content }}
    </div>
    <ul class="replies-list">
        {% for reply in thread.replies %}
            {% include "forum/components/reply.html" %}
        {% endfor %}
    </ul>
    <div id="new-reply-form-{{ thread.id }}" class="reply-form-container">
        <form hx-post="/replies/{{ thread.id }}" id="{{ "thread-form-{}"|format(thread.id) }}" class="reply-form"
              hx-swap="outerHTML" hx-target="#new-reply-form-{{ thread.id }}">
            <label>
                <textarea class="reply-textarea" name="content" placeholder="Type your reply here..."></textarea>
            </label>
            <button class="submit-reply-button">Submit</button>
        </form>
    </div>
</li>